/********************************************
                 RESET CSS
 ********************************************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img{
    width:100%;
}


/********************************************
               FIN RESET CSS
 ********************************************/

a:link
{
    text-decoration:none;
}

img{
    width:100%;
}

.tools li {
    font-size: 16px;
}

.promo-2020,.promo-2018,.promo-2013 {
    display:none;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-2021 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

li {
    list-style-type: none;
}

.promo-2021 li {
    color: white;
}

.networks_links li a {
    color: white;
}



/* Cible les li impaire :  */

.promo-2021 li:nth-child(odd) {
    background-color: #a51263;
    margin-top: 40px;
}

/* Cible les li pair :*/

.promo-2021 li:nth-child(even) {
    background-color: #225687;
    margin-top: 40px;
}

.promo-2021>h2 {
    background-color: #225687;
    padding: 1em;
    color: white;
}


section.teachers h2 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}

header h1 {
    font-size: 1.6em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}




