.tools li {
    font-size: 16px;
}

.promo-2020,.promo-2018,.promo-2013 {
    display:none;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-2021 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

li {
    list-style-type: none;
}

/* Cible les li impaire :  */

.promo-2021 li:nth-child(odd) {
    background-color: #a51263;
    margin-top: 40px;
}

/* Cible les li pair :*/

.promo-2021 li:nth-child(even) {
    background-color: #225687;
    margin-top: 40px;
}




